@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover {
    p {
        color: rgb(55, 65, 81);
    }
}

.contact-link:hover {
    p {
        color: rgb(55, 65, 81);
    }
}

.project-card-container:hover {
    .project-card-border{
        background-color: white;
    }
    
}