@tailwind base;
@tailwind components;
@tailwind utilities;

.card:hover {
    p {
        color: rgb(55, 65, 81);
    }
}

.project-card:hover {
    p {
        color: rgb(55, 65, 81);
    }
}

.contact-link:hover {
    p {
        transition: all;
        transition-duration: 500ms;
        opacity: 0;
    }

    .pusher {
        width: 74%;
    }

    .link-title {
        display: none;
    }

    .image-filter {
        opacity: 0;
    }

    .contact-link-text-container-padding-secondary {
        width: 5%;
    }

    .contact-link-text-container-padding-primary {
        flex: 1; // Automatically adjust element's width to completely fill parent flex container taking sibling elements into account
    }
}

.contact-link-text-container-padding-secondary {
    max-width: fill-available;          /* WebKit-based browsers will ignore this. */
    max-width: -moz-available;          /* Mozilla-based browsers will ignore this. */
    max-width: -webkit-fill-available;
    min-width: 5%;
}

.contact-link-text-container-padding-primary {
    min-width: 10%;
}