@tailwind base;
@tailwind components;
@tailwind utilities;
.card:hover p {
  color: #374151;
}
.project-card:hover p {
  color: #374151;
}
.contact-link:hover p {
  transition: all;
  transition-duration: 500ms;
  opacity: 0;
}
.contact-link:hover .pusher {
  width: 74%;
}
.contact-link:hover .link-title {
  display: none;
}
.contact-link:hover .image-filter {
  opacity: 0;
}
.contact-link:hover .contact-link-text-container-padding-secondary {
  width: 5%;
}
.contact-link:hover .contact-link-text-container-padding-primary {
  flex: 1;
}
.contact-link-text-container-padding-secondary {
  max-width: fill-available;
  /* WebKit-based browsers will ignore this. */
  max-width: -moz-available;
  /* Mozilla-based browsers will ignore this. */
  max-width: -webkit-fill-available;
  min-width: 5%;
}
.contact-link-text-container-padding-primary {
  min-width: 10%;
}
